[build]
  base = "flywithashrayaofficialwebpage"
  command = "npm run build"
  publish = "out"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  NODE_VERSION = "20"  # Netlify supports Node 20
